<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="https://d1rhrn7ca7di1b.cloudfront.net/images/favicon-16x16.png">
</head>
<body>
    <nav class="header">
        <a href="/">HOME</a> |
        <a href="/japan">Japan</a> |
        <a href="/ireland">Ireland</a> |
        <a href="/uk">UK</a> |
        <a href="/greece">Greece</a> |
        <a href="/bahamas">Bahamas</a> |
        <a href="/blog">Blog</a> |
        <a href="/maps">Maps</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>