{% extends "base.html" %}
{% block title %}HOME{% endblock %}
{% block content %}
    <div class="container">
        <h1>HOME</h1>
        <div class="tiles">
            <div class="tile">
                <img src="https://d1rhrn7ca7di1b.cloudfront.net/images/IMG_3137.jpeg" alt="Test Image">
                <h2>JAPAN</h2>
                <p>Our first trip abroad was to Japan. We flew to Osaka and met Jay’s Sister Mandi up from Okinawa where she was stationed.</p>
                <a href="/japan" class="tile-button">JAPAN</a>
            </div>
            <div class="tile">
                <img src="https://d1rhrn7ca7di1b.cloudfront.net/images/RenderedImage.jpeg" alt="Republic of Ireland">
                <h2>REPUBLIC OF IRELAND</h2>
                <p>We finally got to go on the trip we had originally planned in 2020 we all know what happened that year...</p>
                <a href="/ireland" class="tile-button">IRELAND</a>
            </div>
            <div class="tile">
                <img src="https://d1rhrn7ca7di1b.cloudfront.net/images/IMG_3305-225x300.jpeg" alt="United Kingdom">
                <h2>UNITED KINGDOM</h2>
                <p>Flew to Scotland, then enjoyed a memorable lunch in England, experiencing three-quarters of the UK. Wales awaits our next adventure!</p>
                <a href="/uk" class="tile-button">UNITED KINGDOM</a>
            </div>
        </div>
    </div>
{% endblock %}