<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ireland and UK Travels</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="header">
        <a href="/">TRAVELS</a> | 
        <a href="/japan2019">Japan 2019</a> | 
        <a href="/ireland">Ireland</a> | 
        <a href="/uk">UK</a> | 
        <a href="/irelanduk">Ireland & UK</a> | 
        <a href="/stories">Stories</a> | 
        <a href="/blog">Blog</a> | 
        <a href="/maps">Maps</a> | 
        <a href="/privacy">Privacy</a>
    </nav>
    <div class="container">
        <h1>Ireland and the United Kingdom</h1>
        <p>We went to the UK and Ireland!</p>
    </div>
</body>
</html>