{% extends "base.html" %}
{% block title %}REPUBLIC OF IRELAND{% endblock %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center;">REPUBLIC OF IRELAND</h1>
    </div>
    <div class="video-container">
        <div class="video-wrapper">
            <h2>Day One</h2>
            {% for video in videos %}
                {% if video.name == "Ireland-Scotland-Day-One" %}
                    <video controls poster="{{ video.still }}" style="max-width: 100%; height: auto;">
                        <source src="{{ video.url }}" type="video/{{ video.url.split('.')[-1] }}">
                        <source src="{{ video.url }}" type="video/mp4"> <!-- Fallback -->
                        <p>Video failed to load. <a href="{{ video.url }}">Download</a> or check back later.</p>
                    </video>
                {% endif %}
            {% endfor %}
        </div>
        <div class="video-text">
            <p><strong>Day One:</strong> 26-27 May 2023 - Orlando to Dublin. We left Orlando at 20:30 on Friday and arrived in Dublin at 10:00 on Saturday. After finding out Irish rental cars are not big enough for six and associated luggage, Anna and Trey caught a cab to the hotel while we drove ourselves and luggage. One wrong round-about exit and a quick drive on the sidewalk we located the hotel lobby to get checked in. We explored the local city and then went to EPIC the Irish Immigration Museum. We finished the day with a tour and tasting at Jameson Irish Whiskey.</p>
        </div>
        <div>
            <div class="video-container">
                <div class="video-wrapper">
                    <h2>Day Two</h2>
                    {% for video in videos %}
                        {% if video.name == "Ireland-Scotland-Day-Two" %}
                            <video controls poster="{{ video.still }}" style="max-width: 100%; height: auto;">
                                <source src="{{ video.url }}" type="video/{{ video.url.split('.')[-1] }}">
                                <source src="{{ video.url }}" type="video/mp4"> <!-- Fallback -->
                                <p>Video failed to load. <a href="{{ video.url }}">Download</a> or check back later.</p>
                            </video>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="video-text">
                    <p><strong>Day Two:</strong> 28 May 2023 - Our day started with an Irish Breakfast and a surprise car show where Trey met an Irish “cousin” who welcomed us to take a look at the vintage autos. We next moved to the Guinness tour which featured an impressive 360 degree Birds Eye view of Dublin. Next was Trinity College where we got to see the Book of Kelly’s and the Long Room, very impressive! We finished the day with a traditional Irish Hooley and dinner which featured folk songs and awesome Irish dancers at Johnny Foxes, the highest pub in Ireland.</p>
        </div>
    </div>
{% endblock %}