{% extends "base.html" %}
{% block title %}JAPAN{% endblock %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center;">JAPAN 2019</h1>
    </div>
    <!-- Day One - Day Three Osaka -->
    <div class="video-container">
        <div class="video-wrapper">
            <h2>Day One - Day Three Osaka</h2>
            {% for video in videos %}
                {% if video.name == "Japan-2019-Osaka" %}
                    <video controls poster="{{ video.still }}">
                        <source src="{{ video.url }}" type="video/{{ video.url.split('.')[-1] }}">
                        <source src="{{ video.url }}" type="video/mp4">
                        <p>Video failed to load. <a href="{{ video.url }}">Download</a> or check back later.</p>
                    </video>
                {% endif %}
            {% endfor %}
        </div>
        <div class="video-text">
            <p><strong>Osaka:</strong> We landed late in the evening after a 15+ hour flight.</p>
        </div>
    </div>
    <!-- Day Four Nagoya -->
    <div class="video-container">
        <div class="video-wrapper">
            <h2>Day Four Nagoya</h2>
            {% for video in videos %}
                {% if video.name == "Japan-2019" %}
                    <video controls poster="{{ video.still }}">
                        <source src="{{ video.url }}" type="video/{{ video.url.split('.')[-1] }}">
                        <source src="{{ video.url }}" type="video/mp4">
                        <p>Video failed to load. <a href="{{ video.url }}">Download</a> or check back later.</p>
                    </video>
                {% endif %}
            {% endfor %}
        </div>
        <div class="video-text">
            <p><strong>Nagoya:</strong> Rode the Bullet Train from Osaka, made the mistake of leaving at rush-hour, the trains to get to the Bullet were packed!</p>
        </div>
    </div>
    <!-- Day Five - Seven Tokyo -->
    <div class="video-container">
        <div class="video-wrapper">
            <h2>Day Five - Seven Tokyo</h2>
            {% for video in videos %}
                {% if video.name == "Tokyo" %}
                    <video controls poster="{{ video.still }}">
                        <source src="{{ video.url }}" type="video/{{ video.url.split('.')[-1] }}">
                        <source src="{{ video.url }}" type="video/mp4">
                        <p>Video failed to load. <a href="{{ video.url }}">Download</a> or check back later.</p>
                    </video>
                {% endif %}
            {% endfor %}
        </div>
        <div class="video-text">
            <p><strong>Tokyo:</strong> Our final city on the trip Tokyo! Amazing city ahead of the 2020 Olympics that got pushed due to Covid. Enjoyed our time, not sure I want to go back.</p>
        </div>
    </div>
{% endblock %}