<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="header">
        <a href="/">TRAVELS</a> | 
        <a href="/japan2019">Japan 2019</a> | 
        <a href="/ireland">Ireland</a> | 
        <a href="/uk">UK</a> | 
        <a href="/blog">Blog</a> | 
        <a href="/maps">Maps</a> | 
        <a href="/privacy">Privacy</a>
    </nav>
    <div class="container">
        <h1>JAPAN 2019</h1>
        <p>Our first trip abroad was to Japan. We flew to Osaka and met Jay’s Sister Mandi up from Okinawa where she was stationed.</p>
    </div>
</body>
</html>